:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
    --grey: #f9f9f9;
    --graydark: #adbac0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--grey);
    font-family: 'Epilogue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--AlmostWhite);
}

.nav-bg {
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.box-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
.logo {
    font-size: 3.5rem;
    font-weight: bold;
   padding-left: 4rem;
}

.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-left>ul {
    display: flex;
    list-style: none;
}

.menu-left>ul>li {
    display: block;
}

.link {
    text-decoration: none;
    color: var(--AlmostBlack);
    margin: 2rem;
    font-size: 1.5rem;
}

.menu-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.link-rigth {
    text-decoration: none;
    color: var(--AlmostBlack);
    margin: 2rem;
    font-size: 1.5rem;
}

.rg-link {
    border: 2px solid var(--AlmostBlack);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    outline: none;
}

.menu-vertical {
    position: absolute;
    display: block;
    width: 12rem;
    list-style: none;
    background-color: var(--grey);
    padding: 0;
    margin-top: 1.8rem;
    border-radius: 1.5rem;
    box-shadow: 2px 3px 17px -2px rgba(0, 0, 0, 0.75);
    transition: all 0.2 ease;

}

.vt-two {
    position: absolute;
    display: block;
    width: 12rem;
    list-style: none;
    background-color: var(--grey);
    padding: 0;
    margin-top: 1.8rem;
    border-radius: 1.5rem;
    box-shadow: 2px 3px 17px -2px rgba(0, 0, 0, 0.75);
    transition: all 0.2 ease;

}

.active {
    display: none;
}

.active-two {
    display: none;
}

.vt-link {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
    margin: 1.5rem auto;
    width: 9rem;

}

.vt-link>a {
    text-decoration: none;
    display: flex;
    width: 6rem;
}

.box-bg {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.display-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/**SECTION**/
.title {
    font-size: 6rem;
    font-weight: bold;
    margin: 0rem;
    padding: 0;
    white-space: 5rem;

}

.title:nth-child(1) {
    margin-top: 3.5rem;
}

.phase-title {
    font-size: 1.4rem;
    color: var(--graydark);
    width: 35rem;
    text-align: start;
    margin: 4.5rem 0;
}

.btn {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--grey);
    width: 12rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.2rem solid black;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: var(--grey);
}

.client {
    /* max-width: 100%; */
}

.client-img {
    display: inline-block;
    margin: 0rem 1.5rem;
    margin-top: 5rem;
}

.img-hero {
    width: 35rem;
}

/*BLOQUEOS**/
.title-phone {
    display: none;
}

.img-hero-phone {
    display: none;
}

.icon-menu {
    display: none;
}
.img-close{
    display: none;
}
.box-img-close{
    display: none;
}
@media (max-width:780px) {

    .link,
    .link-rigth {
        font-size: 1rem;
    }

    .img-hero-phone {
        display: block;
        width: 50rem;
    }

    .img-hero {
        display: none;
    }
}

@media (max-width:420px) {

    /*BLOQUEOS PHONE*/
    .box-title {
        display: none;
    }

    .img-hero {
        display: none;
    }

    /* PHONE**/
    .box-img-close{
        display: block;
    }
    .img-hero-phone {
        display: block;
        max-width: 100%;
        margin-bottom: 2.5rem;
    }

    .title-phone {
        display: block;
        font-size: 3.5rem;
        text-align: center;
        margin: 1.5rem auto;
    }

    .phase-title {

        font-size: 1.6rem;
        margin: 3rem auto;
        text-align: center;
        width: 35rem;
        height: 7rem;
        word-spacing: 0.3rem;

    }

    .btn {
        margin: 0 auto;
    }

    .client {
        margin: 0 auto
    }

    .client-img {
        width: 6rem;
    }

    /**NAV-PHONE*/
    .logo{
        padding: 0 1rem;
    }
    .nav-bg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0;
    }
    .box-menu{
        position:fixed;
        top: 0;
        bottom: 0;
        right:0;
        background-image: url(../img/Wave-10s-1366px.svg);
        background-size: cover;
        background-position: center;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: ;
        width: 20rem;
        height:100vh;
        box-shadow: -9px 5px 39px -15px rgba(0,0,0,0.75);
        transition: all 1s ease;
    }
    .flex{
        transform: translateX(30rem);
    }
    .menu-left>ul{
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;

    }
    .menu-left>ul>li{
        margin-bottom: 2rem;
    }
    .link{
        margin: 2rem;
        font-size: 1.5rem;
        color: white;

    }
    .menu-rigth{
        flex-direction: column;
        padding: 0;
    }
    .link-rigth{
        text-align: start;
        font-size: 1.5rem;
        color:white;
    }

    .icon-menu {
   display: block;
   padding: 0 2rem;
    }
    .rg-link{
        padding: 1rem 4.5rem;
        border: 2px solid white;
    }
    .box-img-close{
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 2rem;
    }
    .img-close{
        display: block;
        
    }
}